.footer-container{
    /* Glass effect */
background: #d9d9d90b;
backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 0.1);
  color:white;
  padding:60px;
  height: 250px;
  margin-top: 5%;
}

.title-footer{
  color:#9be15d;
  font-family: var(--main-font);
  font-size: var(--title-font);
}

.description{
  color:#9a9a9a;
  max-width:350px;
}

.stats{
  display:flex;
  gap:40px;
  margin-top:30px;
}

.stats h3{
  color:#9be15d;
}

.right-section{
  margin-top:40px;
}

.nav-grid{
  display:grid;
  grid-template-columns:repeat(3,200px);
  gap:15px;
  margin-top:20px;
}

.nav-box{
  /* Glass effect */
background: #d9d9d90b;
backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 0.1);
  padding:15px;
  border-radius:8px;
  cursor:pointer;
    font-family: var(--base-font);

}

.nav-box:hover{
  background:#222222;
}

.bottom-footer{
  display:flex;
  justify-content:space-between;
  margin-top:60px;
  color:#888;
}

.links span{
  margin-left:20px;
}
.container {
  padding: 60px 80px;
  min-height: 100vh;
}

.title-footer {
  color: #9be15d;
}

.description {
  color: var(--main-text-color);
  max-width: 350px;
  margin-top: 10px;
  font-family: var(--base-font);
}

.lefts-section {
  float: left;
  width: 40%;
}

.rights-section {
  float: right;
  width: 50%;
}

.nav-title {
  margin-bottom: 20px;
}

.stats {
  display: flex;
  gap: 50px;
  margin-top: 40px;
}

.stats h3 {
  color: #9be15d;
  font-size: 28px;
}

.stats p {
  color: #8a8a8a;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.card {
  background: #1b1e24;
  padding: 18px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background: #252932;
  transform: translateY(-2px);
}

.icon {
  background: #2c3d22;
  color: #9be15d;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
}

footer {
  clear: both;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  color: #6b6b6b;
  font-size: 14px;
}

.links span {
  margin-left: 20px;
  cursor: pointer;
}
.Quick Navigation{
  color: var(--main-text-color);
  font-family: var(--base-font);

}