.logo{
    width: 100%;
    cursor: pointer;

}
.logo:hover{
    width: 10%;
    transition: ease-in 0.2s;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 15%;
    width: 100;
    padding-top: 3%;
 
}
.menu{
      display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 24px;
    color: var(--Main-text-color);
    cursor: pointer;
}
.language{
    cursor: pointer;
    width: 3%;
}
.menu1{
    color: var(--Main-text-color);
    font-size: 18px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    text-decoration: none;

}
.menu1:hover{
    color: var(--primary-green);
    font-size: 20px;
    transition: ease-in 0.2s;

}
.menus2{
    color: var(--Main-text-color);
    font-size: 18px;
        text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
text-decoration: none;
}
.menus2:hover{
    color: var(--primary-green);
      font-size: 20px;
    transition: ease-in 0.2s;

}
.menus3{
    color: var(--Main-text-color);
    font-size: 18px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    text-decoration: none;

}
.menus3:hover{
    color: var(--primary-green);
    font-size: 20px;
    transition: ease-in 0.2s;
}
.menus4{
    color: var(--Main-text-color);
    font-size: 18px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    text-decoration: none;


}
.menus4:hover{
    color: var(--primary-green);
     font-size: 20px;
    transition: ease-in 0.2s;
}
.menus5{
    color: var(--Main-text-color);
    font-size: 18px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    text-decoration: none;


}
.menus5:hover{
    color: var(--primary-green);
    font-size: 20px;
    transition: ease-in 0.2s;
}
.menus6{
    color: var(--Main-text-color);
    font-size: 18px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    text-decoration: none;


}
.menus6:hover{
    color: var(--primary-green);
    font-size: 20px;
    transition: ease-in 0.2s;
}