.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 15%;
    width: 100;
    background-color: #222222;
}
.menu{
      display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 24px;
    color: white;
}