.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 15%;
    width: 100;
    padding-top: 3%;
 
}
.menu{
      display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 24px;
    color: white;
    cursor: pointer;
}
.menu:hover{
    color: #8DC63F;
}
.language{
    cursor: pointer;
}