.center-title{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.header-title{
    color: var(--primary-light-green);
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.header-title2{
    color: var(--Main-text-color);
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 400;
    font-style: normal;
    margin-top: -2%;
}
.view-more{
    color: var(--primary-green);
    font-size: var(--text-font);
    margin: 0 20px;
    text-decoration: none;
}
.arrow{
     display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    text-align: center;
    padding-top: 1%;
}